extends layout

block content
	.container
		.col-md-12.jumbotron
			.text-center
					h1 WebDev
					p
					| At Daden we provide quality and affordable solutions. We are a group of web and mobile app developers helping you to create an online presence or help you in developing web or mobile apps for your use by using various technologies such as node.js, express.js and mongodb. We also help in web designing and web development using html, css, javascript, bootstrap, node.js, express.js/sails.js, mongodb etc. We can also help you to create mobile apps using react.js.
					| &#x9;
					|   
					p
					a.btn.bg.btn-lg(href='#', role='button') Learn more
	.container
		.col-md-4.color
				h3 Web Design
				| &#x9;
				p
				| At Daden, we help you in designing a single webpage or multiple webpages depending on your needs. We can also include a contact page so as to enable your clients or customers to contact you through email wihout revealing your mail address thereby preventing spams and uneccessary emails. We do this using html, css, javascript and bootstrap.
				|   
				p
				a.btn.bg.btn-lg(href='#', role='button') Learn more
		.col-md-4.color
				h3 Web Development
				| &#x9;
				p
				| At Daden, we provide solutions for your internet presence such as customized blogs or special forums at affordable prices. We can also help you to create a simple website were users login, upload contents or specific information or delete data uploaded before. We use node.js, angular.js express.js or sails.js and mongodb.
				|   
				p
				a.btn.bg.btn-lg(href='#', role='button') Learn more
		.col-md-4.color
				h3 Mobile App Development
				| &#x9;
				p
				| At Daden, we also develop mobile apps for android and ios users with satisfactory performance and also optimizing your apps to give users a new experience on using mobile apps. We build apps that adapt to different types of screen ranging from large screen mobile phones to ones with smaller screen. We do this using the MERN(Mongodb, Express.js React.js and Node.js) stack.
				|   
				p
				a.btn.bg.btn-lg(href='#', role='button') Learn more
