extends layout

block content
	.container
		.col-md-12.jumbotron
				.text-center
						h1 Daden
						p
						| At Daden we provide quality and affordable solutions. We are a group of web and mobile app developers helping you to create an online presence or help you in developing web or mobile apps for your use by using various technologies such as...
						| &#x9;
						|   
						p
						a.btn.bg.btn-lg(href='/about', role='button') Learn more
	.container
		.col-md-4.color
				h3 Web Design
				| &#x9;
				p
				| At Daden, we help you in designing a single webpage or multiple webpages depending on your needs. We can also include a contact page so as to enable your clients or customers to contact you through email wihout revealing your mail address thereby...
				|   
				p
				a.btn.bg.btn-lg(href='/about', role='button') Learn more
		.col-md-4.color
				h3 Web Development
				| &#x9;
				p
				| At Daden, we provide solutions for your internet presence such as blogs or forums. We can also help you to create a simple website were users login, upload contents or specific information or delete data uploaded before...
				|   
				p
				a.btn.bg.btn-lg(href='/about', role='button') Learn more
		.col-md-4.color
				h3 Mobile App Development
				| &#x9;
				p
				| At Daden, we also develop mobile apps for android and ios users with satisfactory performance and also optimizing your apps to give users a new experience on using mobile apps. We build apps that adapt to different types of screen ranging...
				|   
				p
				a.btn.bg.btn-lg(href='/about', role='button') Learn more
